body {
	background: white;
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}
tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
}
td {
	text-align: center;
	padding: 0;
}
td:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}
th {
	background: white;
	height: 66px;
	width: 66px;
}
td a {
	background: rgba(255, 255, 255, 0.5);
	color: #222;
	display: block;
	margin: 0 1em;
	text-decoration: none;
}
.phase1 {
	background-color: #E34335 !important;
}
.phase2 {
	background-color: #FF8A1C !important;
}
.phase3 {
	background-color: #7AC70C !important;
}
.phase4 {
	background-color: #1493D1 !important;
}
.phase5 {
	background-color: #FFC200 !important;
}
.impossible {
	background: #999 !important;
}
.highlighted {
	background-color: #1493D1 !important;
}
.legend {
	display: flex;
	margin-bottom: 1em;
}
.legend div {
	flex: 1;
	padding: 0.5em;
	text-align: center;
}
.gold {
	background: #FFC200;
}
.bar {
	display: inline-block;
	height: 16px;
}
.progress {
	background: white;
	color: #333;
	margin: 2px;
	min-height: 12px;
	padding: 2px 0;
}
/* imported */
.flag {
	background-image: url(images/flags.svg);
	background-size: 1120px auto;
	height: 88px;
	margin: 12px;
	width: 88px;
}
.flag-fr{
	background-position:0 0
}
.flag-es{
	background-position:-112px 0
}
.flag-de{
	background-position:-224px 0
}
.flag-pt{
	background-position:-336px 0
}
.flag-it{
	background-position:-448px 0
}
.flag-en{
	background-position:-560px 0
}
.flag-ga{
	background-position:-672px 0
}
.flag-hu{
	background-position:-784px 0
}
.flag-ru{
	background-position:-896px 0
}
.flag-pl{
	background-position:-1008px 0
}
.flag-ro{
	background-position:0 -224px
}
.flag-nl-NL{
	background-position:-112px -224px
}
.flag-tr{
	background-position:-224px -224px
}
.flag-id{
	background-position:-336px -224px
}
.flag-ja{
	background-position:-448px -224px
}
.flag-uk{
	background-position:-560px -224px
}
.flag-zh-TW{
	background-position:-672px -224px
}
.flag-el{
	background-position:-784px -224px
}
.flag-bn{
	background-position:-896px -224px
}
.flag-ar{
	background-position:-1008px -224px
}
.flag-hi{
	background-position:0 -448px
}
.flag-he{
	background-position:-112px -448px
}
.flag-ko{
	background-position:-224px -448px
}
.flag-vi{
	background-position:-336px -448px
}
.flag-sv{
	background-position:-448px -448px
}
.flag-zh-CN{
	background-position:-560px -448px
}
.flag-cs{
	background-position:-672px -448px
}
.flag-th{
	background-position:-784px -448px
}
.flag-un{
	background-position:-896px -448px
}
.flag-da{
	background-position:-112px -672px
}
.flag-eo{
	background-position:-1008px -448px
}
.owl {
	background-image: url(images/owls.svg);
	background-position: 50px;
	background-size: 1000px auto;
}
.owl-it {
	background-position: -150px -300px;
}
.owl-en {
	background-position: -300px -300px;
}
.owl-de {
	background-position: -450px -300px;
}
.owl-es {
	background-position: -600px -300px;
}
.owl-pt {
	background-position: -750px -300px;
}
.owl-fr {
	background-position: -1000px -450px;
}
